:root {
    --primary-color: #009833;
    --secondary-color: #B2D866;

    --body-color: #444;

    --dark-color: #222222;
    --white-color: #ffffff;
    --line-color: #dddddd;

    --secbg-color: #f9f9f9;

    --footerbg-color: #222222;

    --border-radius: 2.4rem;
    --box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.05);
    --box-shadow-hover: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
}

#header {}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

#header .logo>a {
    display: block;
    width: 24rem;
    height: 8rem;
    background: url(../images/logo.svg)no-repeat center center/cover;
}

#header .gnb>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li>a {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 8rem;
    padding: 0 2rem;
}

/* 헤더 유틸 */

#header .util>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#header .util>ul>li>a {
    display: flex;
    align-items: center;
    gap: 8px;
}

#header .util>ul>li>a>span {
    order: 1;
    font-size: 1.4rem;
    line-height: 2rem;
}

/* 헤더 서브메뉴 */

#header .sub_menu {
    z-index: 9;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 0.8rem 0;

    box-shadow: 0 0px 16px 2px rgba(0, 0, 0, 0.1);

    border-radius: 1.6rem;
    background: var(--white-color);

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#header .sub_menu>li>a {
    display: block;
    padding: 0 3.2rem;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 4rem;
    color: #666;
    transition: 0.5s;
}

#header .sub_menu>li>a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

#header .gnb>ul>li:hover .sub_menu {
    top: 6rem;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}


/* 메인 비주얼 시작 */
#main_visual {}

#main_visual .inner {
    display: flex;
    align-items: stretch;
    gap: 15px;
}

#main_visual .inner .left {
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#main_visual .main_visual_left_slide .itm {
    position: relative;
    height: 655px;
}

#main_visual .main_visual_left_slide .itm .slg {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translate(0, -50%);
}

#main_visual .main_visual_left_slide .itm .slg strong {
    display: block;
    margin: 0 0 1.6rem 0;

    font-size: 4.8rem;
    font-weight: 100;
    line-height: 5.6rem;
    color: var(--white-color);
}

#main_visual .main_visual_left_slide .itm .slg strong span {
    font-weight: 700;
}

#main_visual .main_visual_left_slide .itm .slg strong .point {
    color: var(--primary-color);
}

#main_visual .main_visual_left_slide .itm .slg p {

    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--white-color);
}

#main_visual .main_visual_left_slide .itm01 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

#main_visual .main_visual_left_slide .itm02 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

#main_visual .main_visual_left_slide .itm03 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

#main_visual .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    flex: 1 0 28rem;
}

#main_visual .inner .right .top {
    background: var(--secondary-color);
}

#main_visual .inner .right .bottom {
    background: var(--primary-color);
}

#main_visual .inner .right_itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

#main_visual .inner .right_itm .img_box {
    margin: 0 0 2.4rem 0;
}

#main_visual .inner .right_itm .txt_box strong {
    display: block;
    margin: 0 0 1.6rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--white-color);

    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

#main_visual .inner .right_itm .txt_box strong span {
    font-weight: 700;
}

#main_visual .inner .right_itm .btn_wrap>a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 21rem;
    height: 5.6rem;

    border-radius: var(--border-radius);
}

#main_visual .inner .right_itm .btn_wrap>a>span {
    order: 1;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: var(--white-color);
}

#main_visual .inner .right .top .btn_wrap>a {
    background: var(--primary-color);
    transition: 0.5s;
}

#main_visual .inner .right .top .btn_wrap>a:hover {
    background: #026523;
    transition: 0.5s;
}

#main_visual .inner .right .bottom .btn_wrap>a {
    background: var(--secondary-color);
    transition: 0.5s;
}

#main_visual .inner .right .bottom .btn_wrap>a:hover {
    background: #94c03c;
    transition: 0.5s;
}

/* 메인 비주얼 끝 */

/* 메인 일반체험 프로그램 섹션 시작 */
#main_basic_pro {
    overflow: hidden;
}

#main_basic_pro .tit .btn_wrap {
    display: flex;
    align-items: center;
    gap: 4rem;
}

#main_basic_pro .tit .btn_wrap .main_basic_pro_nav {
    position: relative;
}

#main_basic_pro .tit .btn_wrap .main_basic_pro_nav::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -2rem;
    transform: translate(0, -50%);
    height: 2.4rem;
    width: 1px;
    background: var(--line-color);
}

#main_basic_pro .main_basic_pro_slide {
    padding: 1.6rem;
}

#main_basic_pro .main_basic_pro_slide .itm {
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}

#main_basic_pro .main_basic_pro_slide .img_box {
    margin: 0 0 2.4rem 0;
}

#main_basic_pro .main_basic_pro_slide .txt_box {
    padding: 0 2.4rem 2.4rem 2.4rem;
}

#main_basic_pro .main_basic_pro_slide .itm_more_btn {
    position: absolute;
    top: 0;
    right: 2.4rem;
    opacity: 0;
    transition: 0.5s;
}

#main_basic_pro .main_basic_pro_slide .itm:hover {
    box-shadow: var(--box-shadow-hover);
    transition: 0.5s;
}

#main_basic_pro .main_basic_pro_slide .itm:hover .itm_more_btn {
    top: 2.4rem;
    opacity: 1;
    transition: 0.5s;
}

/* 메인 일반체험 프로그램 섹션 끝 */
/* 메인 특수목적형 체험 프로그램 섹션 시작 */
#main_pro {
    background: var(--secbg-color);
}

#main_pro .itm {
    border-radius: 0;
}

#main_pro .itm .img_box {
    margin: 0 0 1.6rem 0;
    border: 1px solid var(--line-color);
    border-radius: var(--border-radius);
}

#main_pro .itm .itm_sub_tit {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    margin: 0 0 1.6rem 0;
    border-radius: 1.2rem;
    background: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: var(--white-color);
}

#main_pro .itm .itm_more_btn {
    position: absolute;
    top: 0;
    right: 2.4rem;
    opacity: 0;
    transition: 0.5s;
}

#main_pro .itm:hover .itm_more_btn {
    top: 2.4rem;
    opacity: 1;
    transition: 0.5s;
}

/* 메인 특수목적형 체험 프로그램 섹션 끝 */
/* 메인 체험 농장 섹션 시작 */
#main_map {}

#main_map .inner {
    display: flex;
    gap: 3rem;
}

#main_map .inner .left {
    width: 100%;
}

#main_map .inner .left .map_wrap {
    padding: 2.4rem 0;
    background: var(--secbg-color);
    border-radius: var(--border-radius);
}

#main_map .inner .left .map_wrap .map_img_box {
    position: relative;
    margin: 0 auto;
    max-width: 60rem;
}

#main_map .inner .left .map_wrap .map_link_list_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn01 {
    top: 79%;
    left: 63%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn02 {
    top: 10%;
    left: 22%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn03 {
    top: 66%;
    left: 43.5%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn04 {
    top: 47%;
    left: 78%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn05 {
    top: 31%;
    left: 75%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn06 {
    top: 63%;
    left: 30%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn07 {
    top: 39%;
    left: 22%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn08 {
    top: 37.5%;
    left: 90%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn09 {
    top: 37.5%;
    left: 45.5%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn10 {
    top: 52%;
    left: 36%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn11 {
    top: 25%;
    left: 56.5%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn12 {
    top: 49%;
    left: 64.7%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn13 {
    top: 85%;
    left: 43.7%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn14 {
    top: 56%;
    left: 14.4%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn15 {
    top: 44%;
    left: 53.4%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn16 {
    top: 23.2%;
    left: 10.7%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn17 {
    top: 25.3%;
    left: 39%;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}



#main_map .inner .left .map_wrap .map_link_list_btn .list_btn.on button {
    border: none;
    background: #00983320;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn.on button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 152, 51, 0.8);
    animation: list_btn_8rem 3s infinite ease-in-out;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn.on::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 152, 51, 0.8);
    animation: list_btn_12rem 3s infinite ease-in-out;
}

#main_map .inner .left .map_wrap .map_link_list_btn .list_btn.on::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 152, 51, 0.8);

    animation: list_btn_16rem 3s infinite ease-in-out;
}

@keyframes list_btn_8rem {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1;
    }

    95% {
        width: 8rem;
        height: 8rem;

    }

    100% {
        opacity: 0;
    }
}

@keyframes list_btn_12rem {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1;
    }

    95% {
        width: 12rem;
        height: 12rem;

    }

    100% {
        opacity: 0;
    }
}

@keyframes list_btn_16rem {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1;
    }

    95% {
        width: 16rem;
        height: 16rem;

    }

    100% {
        opacity: 0;
    }
}

#main_map .inner .right {
    flex: 1 0 57rem;
}

#main_map .inner .right .map_link_itm_list .map_link_itm {
    display: none;
}

#main_map .inner .right .map_link_itm_list .map_link_itm.on {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 30px;

    animation: map_link_itm_list_on 0.5s linear;
}

@keyframes map_link_itm_list_on {
    0% {
        opacity: 0;
        transform: translate(0, 24px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#main_map .inner .right .map_link_itm_list .map_link_itm .txt_box {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: 0.5s;
    height: 100%;
}

#main_map .inner .right .map_link_itm_list .map_link_itm .num {
    margin: 0 0 1.6rem 0;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--primary-color);
}

#main_map .inner .right .map_link_itm_list .map_link_itm .map_link_subject {
    margin: 0 0 1.6rem 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

#main_map .inner .right .map_link_itm_list .map_link_itm .map_link_pro {
    margin: 0 0 2.4rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
}

#main_map .inner .right .map_link_itm_list .map_link_itm .map_link_btn {
    padding: 1.5rem 0;
    margin: auto 0 0 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: 0.5s;
}

#main_map .inner .right .map_link_itm_list .map_link_itm .txt_box:hover .map_link_btn {
    color: var(--white-color);
    background: var(--primary-color);
    transition: 0.5s;
}

#main_map .inner .right .map_link_itm_list .map_link_itm .txt_box:hover {
    box-shadow: var(--box-shadow-hover);
    transition: 0.5s;
}

/* 메인 체험 농장 섹션 끝 */

/* 메인 알림 섹션 시작 */
#main_anmt {
    background: var(--secbg-color);
}

#main_anmt .w_inner {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#main_anmt .w_inner>* {
    flex: 1;
    padding: 1.6rem;
    overflow: hidden;
}

#main_anmt .main_anmt_slide_wrap {
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}

#main_anmt .main_anmt_slide_wrap:hover {
    box-shadow: var(--box-shadow-hover);
    transition: 0.5s;
}

#main_anmt .main_anmt_slide_wrap>.swiper {
    overflow: visible;
}

#main_anmt .itm {
    display: flex;
    align-items: stretch;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: 0.5s;
}

#main_anmt .itm .img_box {
    border-radius: 0 3.2rem 3.2rem 0;
}

#main_anmt .itm .txt_box {
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 2.4rem;
    border-radius: 2.4rem 0 0 2.4rem;
    background: var(--white-color);
}

#main_anmt .itm .txt_box>span {
    display: inline-block;
    margin: 0 0 8px 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: var(--primary-color);
}

#main_anmt .arrow {
    z-index: 9;
    position: absolute;
    top: 24px;
    right: -24px;
    width: 50%;
}

#main_anmt .arrow .arrow_prev {
    position: absolute;
    top: 0;
    left: 0;
}

#main_anmt .arrow .arrow_next {
    position: absolute;
    top: 0;
    left: 48px;
}

#main_anmt .main_anmt_slide_wrap .itm_more_btn {
    z-index: 9;
    position: absolute;
    top: 24px;
    right: 24px;
}

#main_anmt .main_anmt_slide_wrap .itm_more_btn>a {
    transition: 0.5s;
}

#main_anmt .main_anmt_slide_wrap .itm_more_btn:hover>a {
    transition: 0.5s;
    background: var(--primary-color) url(../images/slide_more_btn_w.svg)no-repeat center center;
}

/* 메인 알림 섹션 끝 */

/* 메인 커뮤니티 섹션 시작 */
#main_community {}

#main_community .main_community_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#main_community .main_community_wrap>* {
    flex: 1;
}

#main_community .main_community_wrap .itm {
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}

#main_community .main_community_wrap .itm>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;

}

#main_community .main_community_wrap .itm:hover {
    box-shadow: var(--box-shadow-hover);
    transition: 0.5s;
}

#main_community .main_community_wrap .itm .img_box {
    position: relative;
    margin: 0 0 4rem 0;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: var(--primary-color);
}


#main_community .main_community_wrap .itm .img_box svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_community .main_community_wrap .itm .txt_box {
    text-align: center;
}

/* 메인 커뮤니티 섹션 끝 */
/* 푸터 시작 */
#footer {
    padding: 8rem 0;
    color: var(--white-color);
    background: var(--footerbg-color);
}

#footer .footer_top {
    padding: 0 0 4rem 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#footer .footer_top .txt_box strong {
    display: block;
    margin: 0 0 3.2rem 0;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

#footer .footer_top .txt_box p {
    margin: 0 0 2.4rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
}

#footer .footer_top address>.l_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#footer .footer_top address>.l_list>li {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

#footer .footer_top address>.l_list>li>span {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
}

#footer .footer_top address>.l_list>li>span~span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.8rem;
    background: rgba(255, 255, 255, 0.2);
}

#footer .footer_top address>.l_list>li>span:last-child {
    font-weight: 300;
}

#footer .footer_top .right .ft_nav>ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

#footer .footer_top .right .ft_nav>ul>li {
    position: relative;
}

#footer .footer_top .right .ft_nav>ul>li~li::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -2rem;
    transform: translate(0, 0);
    width: 1px;
    height: 1.2rem;
    background: rgba(255, 255, 255, 0.2);
}

#footer .footer_top .right .ft_nav>ul>li>a {
    display: block;
    margin: 0 0 1.6rem 0;
    font-weight: 700;
}

#footer .footer_top .right .ft_nav .sub_link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#footer .footer_top .right .ft_nav .sub_link>li>a {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
}

#footer .footer_bottom {
    padding: 4rem 0 0 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .footer_bottom .left .l_list {
    display: flex;
    align-items: center;
    gap: 4rem;
}

#footer .footer_bottom .left .l_list>li {
    position: relative;
}

#footer .footer_bottom .left .l_list>li~li::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -2rem;
    transform: translate(0, 0);
    width: 1px;
    height: 1.2rem;
    background: rgba(255, 255, 255, 0.2);
}

#footer .footer_bottom .left .l_list>li>a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
}

#footer .footer_bottom .left .l_list>.b>a {
    font-weight: 700;
}

#footer .footer_bottom .right .copy {
    margin: 0 0 0.4rem 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
}

#footer .footer_bottom .right .customer {
    text-align: right;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
}

/* 푸터 끝 */